extends template
block content
    div
        | Вас вітає команда Game Loan
        | Для підтвердження реєстрації натисніть на кнопку
        div Шановний #{blockInfo.name +' '+blockInfo.surname}! Вас заблоковано на #{blockInfo.period} днів!
