extends template
block content
    div
        | Вас вітає команда Game Loan
        | Для підтвердження реєстрації натисніть на кнопку
        div Шановний #{unlockInfo.name +' '+unlockInfo.surname}! Вас розблоковано!Не робіть більше такої дічі!
