extends template
block content
    div
        | Для відновлення поролю натисніть на клавішу
        div
            button
                a(href=frontendUrl + `/auth/reset-password/` + token) Натиснути
