extends template
block content
    div
        | Вас вітає команда Game Loan
        div
            each item in credentials
                div Гра: #{item.game +' '+ item.version}
                div Логін #{item.credentials.login}
                div Пароль #{item.credentials.password}
